@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font-family: "Roboto";
}

.header {
	line-height: 1em;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(0, 0, 0, 1);
	padding: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	overflow-x: auto;
	overflow-y: hidden;
	z-index: 100;
}
  
.header div {
	display: inline-block;
	text-align: center;
	height: 100%;
}
  
.header div a {
	display: block;
	text-decoration: none;
	height: 100%;
	font-size: 3vh;
}
  
.header div a img {
	height: 65%;/*The text if supposed to take up 3% of the viewport height, 30% of the menubar. The image takes up almost the other 70%.*/
}
  
body {
	margin-top: 0;
	padding-top: 10vh;/*Makes room for the menubar.*/
}

.footer {
	box-sizing: border-box;/*Control width using border*/
	width: 100vw;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-bottom: 1vh;
	padding-right: 1vw;
	border-top: 5px solid gold;
	background-color: rgba(150, 20, 20, 1);
	color: white;
}

.footer a {
	color: lightgrey;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.acknowledgements {
	display: flex;
	justify-content: space-between;
}

.acknowledgements div {
	padding: 5px;
	border: 10px solid rgba(170, 40, 40, 1);
	border-radius: 20px;
}

.acknowledgements .headingDescription {
	font-size: initial;
}