.postTable {
	border-spacing: 0px;
	border: 3px solid black;
	border-radius: 1ch;
}

.postTable thead {
	border: 2px solid black;
	background-color: lightgrey;
}

.postTable th {
	border: 2px solid black;
}

.postTable td {
	border: 1px solid black;
}
