p {
  margin: 1vw;
}

.banner {
  width: 100vw;
}

.populationPlaceholder {
  line-height: 20vh; /*Basically vertically aligns the text in the middle.*/
  text-align: center;
  font-family: sans-serif;
}

.populationPlaceholder h1 {
  border-radius: 3vw;
  display: inline-block;
  width: 50vw;
  height: 20vh;
  background: linear-gradient(rgba(100, 50, 0, 1), rgba(60, 30, 0, 1));
}

.populationPlaceholder h1 div {
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
}