@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font-family: "Roboto";
}

.footer {
	box-sizing: border-box;/*Control width using border*/
	width: 100vw;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-bottom: 1vh;
	padding-right: 1vw;
	border-top: 5px solid gold;
	background-color: rgba(150, 20, 20, 1);
	color: white;
}

.footer a {
	color: lightgrey;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.acknowledgements {
	display: flex;
	justify-content: space-between;
}

.acknowledgements div {
	padding: 5px;
	border: 10px solid rgba(170, 40, 40, 1);
	border-radius: 20px;
}

.acknowledgements div .headerdescription {
	font-size: initial;
}