.gallery {
	display: grid;
	grid-template-columns: auto auto auto;
}

.gallery > div {
	position: relative;
	width: calc(100vw / 3);
	aspect-ratio: 1 / 1;
}

.gallery div div {
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: blur(5px);
}

.gallery div img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery div img:hover {
	object-fit: contain;
}